/*
Error: File to import not found or unreadable: mixins.
       Load path: F:/freelance/rodzdor/assets/scss
        on line 1 of F:\freelance\rodzdor\assets\scss\style.scss

1: @import 'mixins';
2: :root {
3:     --yellow: #FFD600;
4:     --blue: #0066FF;
5: }
6: 

Backtrace:
F:\freelance\rodzdor\assets\scss\style.scss:1
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/import_node.rb:67:in `rescue in import'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/import_node.rb:45:in `import'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/import_node.rb:28:in `imported_file'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/import_node.rb:37:in `css_import?'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
E:/programs/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
E:/programs/koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
E:/programs/koala/bin/sass:22:in `load'
E:/programs/koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: mixins.\A        Load path: F:/freelance/rodzdor/assets/scss\A         on line 1 of F:\freelance\rodzdor\assets\scss\style.scss\A \A 1: @import 'mixins';\A 2: :root {\A 3:     --yellow: #FFD600;\A 4:     --blue: #0066FF;\A 5: }\A 6: "; }
